.chatScreen {
  flex: 1;
  overflow: auto;
  max-height: calc(100vh - 100px - 46px);
}

.chatScreen__title {
  text-align: center;
  padding: 20px;
  color: gray;
}

.chatScreen__message {
  display: flex;
  align-items: center;
  padding: 5px 20px;
}

.chatScreen__image {
}

.chatScreen__text {
  margin-left: 10px;
  background-color: lightgray;
  padding: 10px 15px;
  border-radius: 15px 15px 15px 5px;
  position: relative;
  max-width: 70vw;
}

.chatScreen__text.me {
  margin-left: auto;
  background-color: #29b3cd;
  color: #fff;
  border-radius: 15px 15px 5px 15px;
}

/* Type a message */
.chatScreen__inputContainer {
  width: 100%;
  height: 46px;
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid lightgray;
  color: #d0d0d0;
  background-color: #fff;

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.chatScreen__input {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.chatScreen__inputField {
  flex: 1;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: #fffeff;
  outline: none;
  border-radius: 25px;
}

.chatScreen__inputField:focus,
.chatScreen__inputField:active {
  outline: none;
}

.chatScreen__inputButton {
  border: none;
  background-color: transparent;
  font-weight: 700;
  /* color: #fe3d71; */
  color: #62b4f9;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  padding: 0 15px;
  outline: none;
}
.chatScreen__inputButton:disabled {
  color: #d0d0d0;
}
