.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #f9f9f9;
  background-color: #fff;
  /* height: 100px;
  position: fixed;
  top: 0;
  width: 100%; */
}

.header__icon {
  margin: 20px;
}

.header__logo {
  height: 40px;
  object-fit: contain;
}
